## Introduction to Python Exercises

Before you turn this problem in, make sure everything runs as expected. First, restart the kernel (in the menubar, select Kernel → Restart) and then run all cells (in the menubar, select Cell → Run All).  You can speak with others regarding the assignment but all work must be your own. 


### This is a 30 point assignment graded from answers to questions and automated tests that should be run at the bottom. Be sure to clearly label all of your answers and commit final tests at the end. If you attempt to fake passing the tests you will receive a 0 on the assignment and it will be considered an ethical violation. (Note, not all questions have tests).

In [1]:
NAME = "Jason Kuruzovich"
COLLABORATORS = ["Cody Kazakoff,Stefan Streetup,Dillan Veeder"]  #You can speak with others regarding the assignment, but all typed work must be your own.

In [2]:
# If you have trouble loading your unittests below, 
#!conda config --add channels conda-forge

In [3]:
#!conda install --yes ipython_unittest

### This Loads a Testing Array 
- This runs tests against your b array.  If you complete the assingment correctly, you will pass the tests. 
- **If you attempt to fake passing the tests you will receive a 0 on the assignment and it will be considered an ethical violation.**

In [4]:
%load_ext ipython_unittest
#This runs tests against your b array.  If you complete the assingment correctly, you will pass the tests.

## Exercises - For and If.

(1). Write a program which create a list called `fivetoten` of all numbers from 5 to 10 (inclusive).

In [5]:
listfivetoten= [5,6,7,8,9,10]
print (listfivetoten)

[5, 6, 7, 8, 9, 10]

(2). Write a program which uses a for loop and if statements to create a list called `divby7` of all numbers from 1-50 that are divisible by 7.
Hint: 14 is divisible by 7 if 14%7==0.

In [6]:

divby = []
for x in range(1,51):
    if (x%7==0):
        divby.append(x)
        
print (divby)

[7, 14, 21, 28, 35, 42, 49]

(3). Write a program which uses a for loop and if statements create a list `divby7not5` of all numbers which are divisible by 7 but are not a multiple of 5, between 10000 and 10100 (both included).

In [7]:
divby7=[]
divby7not5=[]
for x in range(10000,10101):
    if (x%7==0):
        divby7.append(x)
for y in divby7:
    if (y%5!=0):
        divby7not5.append(y)
print(divby7not5)

[10003, 10017, 10024, 10031, 10038, 10052, 10059, 10066, 10073, 10087, 10094]

## Exercises - Functions

(4). Create a function `divby2` that accepts a list and returns all values from that list that are divisible by 2.  For example, passing the list  `numbers = [3, 12, 91, 33, 21, 34, 54, 34, 34, 54]` should return a list. Generate a new list `divby2` that includes only numbers that are divisible by 2.

In [8]:
def divby2(x):
    divby2=[]
    for y in x:
        if (y%2==0):
            divby2.append(y)
    return divby2

In [9]:
#Execute this code to assign divby2 to the correct values. 
numbers = [3, 12, 91, 33, 21, 34, 54, 34, 34, 54]
divby2=divby2(numbers)
print(divby2)

[12, 34, 54, 34, 34, 54]

(5) Create an external module for your `divby2` function called `myutilities.py`.  Import myutilities as mu, such that that following runs.

In [10]:
#After importing this should work. (Feel free to add code to reimport)
import myutilities as mu
divby2mod = mu.divby2 (numbers)

## Exercises-Titanic

The following exercises will use the titanic data from Kaggle.  I've included it in the input folder just like Kaggle.

In [11]:
import numpy as np 
import pandas as pd 

# Input data files are available in the "../input/" directory.
# Let's input them into a Pandas DataFrame
train = pd.read_csv("../input/train.csv")
test  = pd.read_csv("../input/test.csv")



(6). While we can submit our answer to Kaggle to see how it will perform, we can also utilize our test data to assess accuracy. Accuracy is the percentage of predictions made correctly-i.e., the percentage of people in which our prediction regarding their survival. <br>Create columns in the training dataset `PredEveryoneDies` and `PredGender` with the same predictions which were included in the example notebook (06-intro-kaggle-baseline in the materials repository).

In [12]:
train ["PredEveryoneDies"] = 0

In [13]:
train.loc[train['Sex'] == 'male', 'PredGender'] = 0
train.loc[train['Sex'] == 'female', 'PredGender'] = 1
train.PredGender.astype(int)
train['PredGender']

0      0.0
1      1.0
2      1.0
3      1.0
4      0.0
5      0.0
6      0.0
7      0.0
8      1.0
9      1.0
10     1.0
11     1.0
12     0.0
13     0.0
14     1.0
15     1.0
16     0.0
17     0.0
18     1.0
19     1.0
20     0.0
21     0.0
22     1.0
23     0.0
24     1.0
25     1.0
26     0.0
27     0.0
28     1.0
29     0.0
      ...
861    0.0
862    1.0
863    1.0
864    0.0
865    1.0
866    1.0
867    0.0
868    0.0
869    0.0
870    0.0
871    1.0
872    0.0
873    0.0
874    1.0
875    1.0
876    0.0
877    0.0
878    0.0
879    1.0
880    1.0
881    0.0
882    1.0
883    0.0
884    0.0
885    1.0
886    0.0
887    1.0
888    1.0
889    0.0
890    0.0
Name: PredGender, Length: 891, dtype: float64

In [14]:
train.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,PredEveryoneDies,PredGender
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S,0,0.0
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C,0,1.0
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S,0,1.0
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S,0,1.0
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S,0,0.0

(7) Create variables `AccEveryoneDies` and `AccGender` using a calculation of accuracy of predictions for the `training` dataset.

In [15]:
import numpy as np
from sklearn.metrics import accuracy_score
y_true = train.Survived
y_pred = train.PredEveryoneDies
AccEveryoneDies = accuracy_score(y_true, y_pred)
AccEveryoneDies

0.61616161616161613

In [16]:
import numpy as np
from sklearn.metrics import accuracy_score
y_true = train.Survived
y_pred = train.PredGender
AccGender = accuracy_score(y_true, y_pred)
AccGender

0.78675645342312006

(8). Notice how we are utilizing the code to select out the `passengerID` and the `Survived` column and generating a submission file over and over? This is in need of a function.  Create a `generate_submission` function that accepts a DataFrame, a target column, and a filename and writes out the submission file with just the `passengerID` and the `Survived` columns, where the survived column is equal to the target column. It should then return a DataFrame with the `passengerID` and the `Survived` columns.

Executeing the following:
`submitdie = generate_submission(train, 'PredEveryoneDies', 'submiteveryonedies.csv')`

Should return a dataframe with just `passengerID` and the `Survived` column.

In [17]:
def generate_submission(df,col,file):
    submission = df.loc[:,["PassengerId", col]]
    submission.rename(columns={col: 'Survived'}, inplace=True)
    submission.to_csv(file, index=False)
    return submission

submitdie = generate_submission(test, 'PredEveryoneDies', 'submiteveryonedies.csv')


(9). In accordance to the [women and children first](https://en.wikipedia.org/wiki/Women_and_children_first) protocol, we hypothesize that our model could be improved by including whether the individual was a child in addition to gender.  *After* coding survival based on gender, update your recommendation to prediction in the training dataset survival based on age. <br> <br>

In other words, your model should predict that a male child would survive.  

`train['PredGenderAge13']` should be the prediction incorporating both Gender and whether Age <  13.
`train['PredGenderAge18']` should be the prediction incorporating both Gender and whether Age <  18.
`AccGenderAge13` should be the accuracy of the age prediction, based on `train['PredGenderAge13']`. 
`AccGenderAge18` should be the accuracy of the age prediction, based on `train['PredGenderAge18']`.

In [18]:
missing_ages = train[train['Age'].isnull()]

mean_ages = train.groupby(['Sex','Pclass'])['Age'].mean()

def remove_na_ages(row):
    
    if pd.isnull(row['Age']):
        return mean_ages[row['Sex'],row['Pclass']]
    else:
        return row ['Age']
train['Age'] =train.apply(remove_na_ages, axis=1)

In [19]:
train.loc[train['Sex'] == 'Male', 'PredGenderAge13']=0
train.loc[train['Sex'] == 'Male', 'PredGenderAge13']=1
train.loc[train['Age'] > 13, 'PredGenderAge13']=0
train.loc[train['Age'] < 13, 'PredGenderAge13']=1
train.PredGenderAge13

0      0.0
1      0.0
2      0.0
3      0.0
4      0.0
5      0.0
6      0.0
7      1.0
8      0.0
9      0.0
10     1.0
11     0.0
12     0.0
13     0.0
14     0.0
15     0.0
16     1.0
17     0.0
18     0.0
19     0.0
20     0.0
21     0.0
22     0.0
23     0.0
24     1.0
25     0.0
26     0.0
27     0.0
28     0.0
29     0.0
      ...
861    0.0
862    0.0
863    0.0
864    0.0
865    0.0
866    0.0
867    0.0
868    0.0
869    1.0
870    0.0
871    0.0
872    0.0
873    0.0
874    0.0
875    0.0
876    0.0
877    0.0
878    0.0
879    0.0
880    0.0
881    0.0
882    0.0
883    0.0
884    0.0
885    0.0
886    0.0
887    0.0
888    0.0
889    0.0
890    0.0
Name: PredGenderAge13, Length: 891, dtype: float64

(10). Create a prediction file for the "women and children first" model in column` PredGenderAge13` and upload it to Kaggle.  Take a screen shot of your position. Put that screenshot in this repository and use markdown to show your results in the cell below.  The syntax for including a markdown picture is shown below.  

```
![]myscreenshot.png
```

In [20]:
def generate_submission(df,col,file):
    submission = df.loc[:,["PassengerId", col]]
    submission.rename(columns={col: 'Survived'}, inplace=True)
    submission.to_csv(file, index=False)
    return submission

submitdie = generate_submission(test, 'PredGenderAge13', 'PredGenderAge.csv')

(11). You should find that the AccGenderAge13 is better than AccGenderAge18. Create a new column `child` in the test and train DataFrames that is 1 if Age <  13 and 0 otherwise.  This is a *feature*.  We will talk more about features next time.

In [21]:
train.loc[train['Age']>13, 'child'] = 0
train.loc[train['Age']<13, 'child'] = 1

In [22]:
test.loc[train['Age']>13, 'child'] = 0
test.loc[train['Age']>13, 'child'] = 1

In [23]:
%%unittest_main
class TestExercise3(unittest.TestCase):
    def test_forif1(self):
        self.assertTrue(fivetoten == [5,6,7,8,9,10])
    def test_forif2(self):
        self.assertTrue(divby7 == [7,14,21,28,35,42,49])
    def test_forif(self):
        self.assertTrue(divby7not5 == [10003, 10017, 10024, 10031, 10038, 10052, 10059, 10066, 10073, 10087, 10094])
    def test_functions(self):
        self.assertTrue(divby2 == [12, 34, 54, 34, 34, 54])
    def test_functions(self):
        self.assertTrue(divby2mod == [12, 34, 54, 34, 34, 54])
    def test_titanic1(self):
        self.assertAlmostEqual(AccEveryoneDies, 61.6161616162)
    def test_titanic2(self):
        self.assertAlmostEqual(AccGender, 78.6756453423)
    def test_titanic3(self):
        self.assertAlmostEqual(train['PredEveryoneDies'].mean(), 0.0)
    def test_titanic4(self):
        self.assertAlmostEqual(train['PredGender'].mean(), 0.35241301908)
    def test_titanic5(self):
        self.assertTrue(['PassengerId', 'Survived']==list(pd.read_csv('submiteveryonedies.csv').columns.values))
    def test_titanic6(self):
        self.assertAlmostEqual(train['PredGenderAge13'].mean(), 0.393939393939)
    def test_titanic7(self):
        self.assertAlmostEqual(train['PredGenderAge18'].mean(), 0.417508417508)
    def test_titanic8(self):
        self.assertAlmostEqual(AccGenderAge13, 79.2368125701)
    def test_titanic9(self):
        self.assertAlmostEqual(AccGenderAge18, 77.3288439955)
    def test_titanic10(self):
        self.assertTrue(train['child'].sum()==69)
    def test_titanic11(self):
        self.assertTrue(test['child'].sum()==25)

Fail

.EF.F.FF...FEEE
======================================================================
ERROR: test_forif1 (__main__.TestExercise3)
----------------------------------------------------------------------
Traceback (most recent call last):
  File "Cell Tests", line 3, in test_forif1
NameError: name 'fivetoten' is not defined

======================================================================
ERROR: test_titanic7 (__main__.TestExercise3)
----------------------------------------------------------------------
Traceback (most recent call last):
  File "C:\Users\Tom Horvat\Anaconda2\lib\site-packages\pandas\core\indexes\base.py", line 2442, in get_loc
    return self._engine.get_loc(key)
  File "pandas\_libs\index.pyx", line 132, in pandas._libs.index.IndexEngine.get_loc
  File "pandas\_libs\index.pyx", line 154, in pandas._libs.index.IndexEngine.get_loc
  File "pandas\_libs\hashtable_class_helper.pxi", line 1210, in pandas._libs.hashtable.PyObjectHashTable.get_item
  File "pandas\_libs\hashtable_class_helper.pxi", line 1218, in pandas._libs.hashtable.PyObjectHashTable.get_item
KeyError: 'PredGenderAge18'

During handling of the above exception, another exception occurred:

Traceback (most recent call last):
  File "Cell Tests", line 25, in test_titanic7
  File "C:\Users\Tom Horvat\Anaconda2\lib\site-packages\pandas\core\frame.py", line 1964, in __getitem__
    return self._getitem_column(key)
  File "C:\Users\Tom Horvat\Anaconda2\lib\site-packages\pandas\core\frame.py", line 1971, in _getitem_column
    return self._get_item_cache(key)
  File "C:\Users\Tom Horvat\Anaconda2\lib\site-packages\pandas\core\generic.py", line 1645, in _get_item_cache
    values = self._data.get(item)
  File "C:\Users\Tom Horvat\Anaconda2\lib\site-packages\pandas\core\internals.py", line 3590, in get
    loc = self.items.get_loc(item)
  File "C:\Users\Tom Horvat\Anaconda2\lib\site-packages\pandas\core\indexes\base.py", line 2444, in get_loc
    return self._engine.get_loc(self._maybe_cast_indexer(key))
  File "pandas\_libs\index.pyx", line 132, in pandas._libs.index.IndexEngine.get_loc
  File "pandas\_libs\index.pyx", line 154, in pandas._libs.index.IndexEngine.get_loc
  File "pandas\_libs\hashtable_class_helper.pxi", line 1210, in pandas._libs.hashtable.PyObjectHashTable.get_item
  File "pandas\_libs\hashtable_class_helper.pxi", line 1218, in pandas._libs.hashtable.PyObjectHashTable.get_item
KeyError: 'PredGenderAge18'

======================================================================
ERROR: test_titanic8 (__main__.TestExercise3)
----------------------------------------------------------------------
Traceback (most recent call last):
  File "Cell Tests", line 27, in test_titanic8
NameError: name 'AccGenderAge13' is not defined

======================================================================
ERROR: test_titanic9 (__main__.TestExercise3)
----------------------------------------------------------------------
Traceback (most recent call last):
  File "Cell Tests", line 29, in test_titanic9
NameError: name 'AccGenderAge18' is not defined

======================================================================
FAIL: test_forif2 (__main__.TestExercise3)
----------------------------------------------------------------------
Traceback (most recent call last):
  File "Cell Tests", line 5, in test_forif2
AssertionError: False is not true

======================================================================
FAIL: test_titanic1 (__main__.TestExercise3)
----------------------------------------------------------------------
Traceback (most recent call last):
  File "Cell Tests", line 13, in test_titanic1
AssertionError: 0.61616161616161613 != 61.6161616162 within 7 places

======================================================================
FAIL: test_titanic11 (__main__.TestExercise3)
----------------------------------------------------------------------
Traceback (most recent call last):
  File "Cell Tests", line 33, in test_titanic11
AssertionError: False is not true

======================================================================
FAIL: test_titanic2 (__main__.TestExercise3)
----------------------------------------------------------------------
Traceback (most recent call last):
  File "Cell Tests", line 15, in test_titanic2
AssertionError: 0.78675645342312006 != 78.6756453423 within 7 places

======================================================================
FAIL: test_titanic6 (__main__.TestExercise3)
----------------------------------------------------------------------
Traceback (most recent call last):
  File "Cell Tests", line 23, in test_titanic6
AssertionError: 0.07761529808773904 != 0.393939393939 within 7 places

----------------------------------------------------------------------
Ran 15 tests in 0.141s

FAILED (failures=5, errors=4)

In [24]:
#This is a collection of all of the tests from the exercises above.